# !!! DO NOT LET THIS GET OUT TO THE INTERNET !!!
TOKEN=

# ID of the guild (server) for testing the bot
GUILD_ID=

# Path to SQLite database
DB_PATH=

# path to the generated API encryption key
KEY_PATH=
